{% extends 'base.html' %}

{% block content %}

<h1>{{ workout.Name }}</h1>
<h1>{{ workout.creation_date }}</h1>
{% for exc in workout.exercise.all %}
  <ol>
    <li>{{ exc.ExcName }}</li>

    <div class="each_set">
      <ol>
        <li>{{ exc.set_reps }}</li>
        <li>{{ exc.Note }}</li>
      </ol>
    </div>

  </ol>
{% endfor %}

{% if user.is_authenticated %}
  <a class="btn btn-primary" href="{% url 'workout_edit' pk=workout.pk%}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>

  <a class="btn btn-primary" href="{% url 'workout_remove' workout.pk %}">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
{% endif %}

<p>Posted by: {{user.username}}</p>

{% endblock %}
